/*css de la page d'intro*/

body {
    padding-top: 0px;
    padding-bottom: 50px;
}

div.starter-template {
    padding-top: 0px;
}

#intro {
    background-image: url("../sprite/intro.jpg");
    background-size: 100% 100%;
    border: 10px black solid;
    border-radius: 50px;
}

#introTitle {
    font-size: 6em;
    text-decoration: underline;
    font-family: 'sf_collegiateregular';
    border: 3px black solid;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(0, 0, 255, 0.3));
    border-radius: 20px;
    box-shadow: 20px 20px 10px black;
    text-shadow: 2px 2px 2px black;
}

#sonicTitle {
    color: blue;
}

#marioTitle {
    color: red;
}

button[class*="btnIntro"] {
    margin: 30px;
    box-shadow: 10px 10px 10px black;
}

#introPerso {
    width: 50%;
    height: 70%;
    background-image: url(../sprite/marioSonic.png);
    background-size: 100% 100%;
    margin: auto;
}


/*css de la page de jeux*/

html {
    background-color: rgb(20, 20, 20);
}

#title {
    text-align: center;
}

#game {
    position: relative;
    padding-top: 30px;
    background-image: url(../sprite/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.navbar .navbar-nav {
    display: inline-block;
    padding-top: 5px;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

table {
    margin: auto;
    width: 80%;
    border: 2px groove black;
    background-image: url(../sprite/bg2.jpg);
    background-size: 100% 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    border: 1px rgb(54, 54, 54) solid;
}

.depPossible {
    background-color: rgba(0, 0, 255, 0.3);
    border-color: dodgerblue;
}

.atkPossible {
    background-color: rgba(255, 0, 0, 0.3);
    border-color: orangered;
}

#turnDiv {
    margin-top: 30px;
}

span[class*="turn"] {
    padding: 10px;
    text-shadow: 1px 1px 4px black;
    background-color: aliceblue;
    font-size: 2.5em;
    border: 1px black solid;
    border-radius: 10px;
}

span[class*="turn Sonic"] {
    color: blue;
    box-shadow: 3px 3px 20px blue;
}

span[class*="turn Mario"] {
    color: red;
    box-shadow: 3px 3px 20px red;
}

#weapon {
    position: relative;
    left: 5px;
}

#checkMusic {
    margin-left: 10px;
    color: red;
    padding-top: 10px;
}

button {
    margin: 5px;
    box-shadow: 10px 10px 10px black;
    text-shadow: 1px 1px 1px black;
}

.bomb {
    position: absolute;
    z-index: 1000;
}

#Mario,
#Sonic {
    z-index: 500;
}